<div class="md:flex justify-between items-center py-1">
  <div class="grid md:justify-items-start justify-items-center">
    <p class="text-[#725C5C] text-sm -mb-1">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <h1
      class="text-[#725C5C] md:text-[21.5px] md:text-left text-center -mb-1 md:font-normal font-medium md:p-0 p-1"
    >
      Anais do 13º Simpósio Latino Americano de Ciências de Alimentos
    </h1>
    <h3 class="text-[#725C5C] text-sm py-0">ISSN: 1234-5678</h3>
  </div>
  <div class="w-[22%] lg:flex items-center justify-end hidden">
    <div
      class="flex items-center justify-center border border-gray-500 p-1.5 rounded-sm border-opacity-40"
    >
      <img src="../assets/globe.png" class="w-3.5 h-3.5" alt="" />
      <select
        class="text-sm font-light bg-[#fdf1eb] focus:ring-blue-500 focus:border-blue-500 w-[70px]"
      >
        <option value="PT">PT, BR</option>
        <option value="EN">EN, EUA</option>
      </select>
    </div>
  </div>
  <div class="lg:flex items-center justify-center hidden">
    <div class="grid justify-items-end px-2 cursor-pointer">
      <p class="text-[#333333] text-sm font-light">Bem vindo!</p>
      <p class="text-[#333333] text-[13px] font-light">
        marcospaulomaio@2607gmail.com
      </p>
    </div>
    <div class="flex items-center justify-end">
      <div class="h-8 w-8">
        <img
          src="../assets/image-icone.png"
          class="h-8 w-8 rounded-full z-0 cursor-pointer"
          alt="Icone de sua imagem de perfil"
        />
      </div>
      <div
        class="h-3 w-3 rounded-full bg-red-500 flex items-center justify-center -translate-x-2 -translate-y-2"
      >
        <span class="text-white text-xs font-semibold cursor-pointer">2</span>
      </div>
    </div>
  </div>
</div>
